* {
  font-family: 'Trebuchet MS';
  font-weight: 400;
  font-style: inherit;
  vertical-align: baseline;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/* dark overlay */

.popover-dark {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.7);

  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.popover-dark.active {
  opacity: 1;
  visibility: visible;
}
